$primary: #0094FF;
$light-gray: #787878;
$lighter-gray: #3a3a3a;
$gray: #212121;
$dark-gray: #181818;

$bg: $dark-gray;
$text: white;

$player-height: 80px;

$red: rgb(226, 38, 47);

$sidebar-width: 300px;
$border-width: 2px;
$border-color: $lighter-gray;